<div class="container-fluid" id="Hoja">

  <div class="row" id="Header">

        <div class="col-2">
          <img src="assets/logo_movistar_azul.png" class="img-fluid img-fluid-logo" alt="Logo Movistar">
        </div>

        <div class="col-8 title">
          PORTAL DE PREFERENCIAS
        </div>
  </div>

  <div id="Carruselito" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Pareja_frente_al_ordenador_-_Couple_in_front_of_the_computer.jpg"
            class="img-fluid" alt="Familia Movistar" id="FamilyMovistar">
        </div>
        <div class="carousel-item">
          <img src="assets/Working_that_social_networking.jpg" class="img-fluid"
            alt="Amigos Movistar" id="FriendsMovistar">
        </div>
        <div class="carousel-item">
          <img src="assets/Beautiful_women_having_fun_in_the_street..jpg" class="img-fluid"
            alt="Amor Movistar" id="LoveMovistar">
        </div>
      </div>
  </div>

  <div id="Cuestionario" class="row-fluid">
    <div class="container-fluid" id="etapa">
      <div class="stepper-inline NameEtapa">
        <span>Etapa</span>
      </div>
      <div class="stepper-inline">
        <div class="stepper">
          <div class="step" id="step1">
            <span>1</span>
          </div>
          <span class="linea"></span>
          <div class="step" id="step2">
            <span>2</span>
          </div>
          <span class="linea"></span>
          <div class="step" id="step3">
            <span>3</span>
          </div>
        </div>
      </div>
      <div class="stepper-inline NameEtapa">
        <span>Mas cerca de ti</span>
      </div>
    </div>
  </div>

  <div id="opciones" class="row-fluid">

    <form>
      <div class="OneList" id="Questions1">
        <p><strong> ¿En que rango de edad te encuentras actualmente</strong></p>
          <ol id="one">
            <li><input type="radio" name="pregunta1" id="11"> Menor de 18 años</li>
            <li><input type="radio" name="pregunta1" id="12"> Entre 18 y 30 años</li>
            <li><input type="radio" name="pregunta1" id="13"> Entre 31 y 50 años</li>
            <li><input type="radio" name="pregunta1" id="14"> Mayor de 80 años</li>
          </ol>
      </div>

      <div class="TwoList" id="Questions2">
        <p><strong> ¿Cual es tu canal preferido para recibir informacion sobre nuestros servicios? </strong></p>
        <ol id="two">
          <li><input type="radio" name="pregunta2" id="15"> WhatsApp</li>
          <li><input type="radio" name="pregunta2" id="16"> SMS (Mensaje de texto)</li>
          <li><input type="radio" name="pregunta2" id="17"> Correo Electrónico</li>
          <li><input type="radio" name="pregunta2" id="18"> Llamada telefonica</li>
        </ol>
      </div>

      <div class="ThreeList" id="Questions3">
        <p><strong> ¿Cual es tu canal preferido para recibir informacion sobre nuestros servicios?</strong></p>
          <ol id="three">
            <li><input type="radio" name="pregunta3" id="19"> WhatsApp</li>
            <li><input type="radio" name="pregunta3" id="20"> SMS (Mensaje de texto)</li>
            <li><input type="radio" name="pregunta3" id="21"> Correo Electrónico</li>
            <li><input type="radio" name="pregunta3" id="22"> Llamada telefonica</li>
          </ol>
      </div>

      <div class="container-fluid" id="botones">
          <div class="rowbtn">

            <!-- <button (click)="Escenario1()" type="button" class="btn btn-info" id="BtnBack">Atras</button>
            <button (click)="Escenario2()" type="button" class="btn btn-info" id="BtnBack2">Atras</button>
            <button (click)="Escenario2()" type="button" class="btn btn-info"  id="BtnNext">Siguiente</button>
            <button (click)="Escenario3()" type="button" class="btn btn-info"  id="BtnNext2">Siguiente</button>
            <button type="button" class="btn btn-info"  id="BtnSend">Enviar</button> -->


            <div class="col-6" id="BtnBackRow">
              <button (click)="Escenario1()" type="button" class="btn btn-info" id="BtnBack">Atras</button>
              <button (click)="Escenario2()" type="button" class="btn btn-info" id="BtnBack2">Atras</button>
            </div>

            <div class="col-6" id="BtnNextRow">
              <button (click)="Escenario2()" type="button" class="btn btn-info"  id="BtnNext">Siguiente</button>
              <button (click)="Escenario3()" type="button" class="btn btn-info"  id="BtnNext2">Siguiente</button>
              <button type="button" class="btn btn-info"  id="BtnSend">Enviar</button>
            </div>

          </div>
        </div>
    </form>

  </div>

  <div id="Footer" class="row">

      <img src="assets/pie de pagina.JPG" class="img-fluid img-fluid-Footer" alt="pie de pagina">

      <button type="button" class="btn" id="Boton-Bot" >Escribe aquí</button>
      <img src="assets/bot.png" class="img-fluid img-fluid-Bot" alt="Bot Movistar">

  </div>



</div>

