@font-face {
    font-family: 'telefonica-sans-regular';
    src: url('/assets/fonts-web/telefonica-sans-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.footer{
    bottom: 0%;
    height: 10vh;
    width: 100%;
    position: static;
    background: url(/assets/piedepagina.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.space{
    height: 100%;
    width: 45%;
}

.buttons{
    height:100%;
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.btn-outline-primary{
    font-family: telefonica-sans-regular;
    color: #FFFFFF;
    border-radius: 2.5rem;
    border: none;
    background-color: #5CB615;
    padding: 0.2rem 1.5rem;
    width: 10em;
    height: 2.1em;
}

.bot-container{
    width: 71px;
    height: 66px;
    margin-left: 12%;
    margin-right: 3%;
}

.bot{
    width: 111px;
    height: 106px;
    position: absolute;
    right: 1.0em;
    bottom: 0.3em;
}


@media screen and (min-width: 700px) and (max-width: 1050px) {

    .btn-outline-primary{
        font-family: telefonica-sans-regular;
        font-size: 100%;
        color: #FFFFFF;
        border-radius: 2.5rem;
        border: none;
        background-color: #5CB615;
        padding: 0.2rem 1.2rem;
        width: 9.5em;
        height: 2.1em;
    }

    .bot-container{
        width: 70px;
        height: 69px;
        margin-left: 1%;
    }
    
    .bot{
        width: 70px;
        height: 69px;
        position: absolute;
        right: -0.0em;
        bottom: 1.3em;
    }

}

@media screen and (min-width: 630px) and (max-width: 700px) {

    .btn-outline-primary{
        font-family: telefonica-sans-regular;
        font-size: 99%;
        color: #FFFFFF;
        border-radius: 2.5rem;
        border: none;
        background-color: #5CB615;
        padding: 0.2rem 1.2rem;
        width: 9.5em;
        height: 2.1em;
    }

    .bot-container{
        width: 45px;
        height: 43px;
        margin-left: 5%;
    }
    
    .bot{
        width: 65px;
        height: 63px;
        position: absolute;
        right: -0.0em;
        bottom: 1.3em;
    }

}

@media screen and (min-width: 320px) and (max-width: 630px) {
    
    .btn-outline-primary{
        font-family: telefonica-sans-regular;
        font-size: 90%;
        color: #FFFFFF;
        border-radius: 2.5rem;
        border: none;
        background-color: #5CB615;
        padding: 0.2rem 1.2rem;
        width: 9em;
        height: 2.0em;
    }

    .bot-container{
        width: 35px;
        height: 33px;
        margin-left: 7%;
    }
    
    .bot{
        width: 55px;
        height: 53px;
        position: absolute;
        right: -0.0em;
        bottom: 1.3em;
    }    
}

@media screen and (min-width: 250px) and (max-width: 320px) {
    
    .btn-outline-primary{
        font-family: telefonica-sans-regular;
        font-size: 60%;
        color: #FFFFFF;
        border-radius: 2.5rem;
        border: none;
        background-color: #5CB615;
        padding: 0rem 1.0rem;
        width: 10em;
        height: 2.0em;
    }

    .bot-container{
        width: 45px;
        height: 43px;
        margin-left: 7%;
    }
    
    .bot{
        width: 45px;
        height: 43px;
        position: absolute;
        right: -0.1em;
        bottom: 0.5em;
    }    
}
