.logo{
    width: 7.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: telefonicaSansDemiboldItalic !important;
    color: var(--movistar-blue);
    font-size: 1.8rem;
    margin-left: 1.25rem;
}

.alingCenter{
    margin: auto;
    vertical-align: middle;
}

.row{
    width: 100%;
}