<div class="questions-box" *ngFor="let question of question">
  ETAPA 2 PROBANDO
  <br>
  <br>

  <div class="question-description">{{question.descripcion}}</div>

  <label class="answers">
    <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_1}}
    <br>
    <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_2}}
    <br>
    <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_3}}
    <br>
    <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_4}}
    <br>
    <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_5}}
  </label>
  
</div>