<section class="etapas-container">
    <img class="etapas" src="../assets/Etapas.PNG" alt="">

    <!--
        <div class="etapa">Etapa</div>
        <div class="barra-etapas">
            <div class="numero-etapa">1</div>
            <div class="linea"></div>
            <div class="numero-etapa">2</div>
            <div class="linea"></div>
            <div class="numero-etapa">3</div>
        </div>
        <div class="mas-cerca">Más cerca de ti</div>
        <div class="blanco"></div>
    -->

</section>

