.accept{
    margin-top: 5%;
    width: 100%;
    height: 3.125rem;
    border-radius: 4px;
    background-color: var(--movistar-blueDark);
    color: #ffffff;
    font-family: telefonicaSansHairline;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28rem;
    letter-spacing: normal;
    text-align: center;
}

.logo{
    height: 4rem;
}

.description {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1rem;
    letter-spacing: normal;
    text-align: center;
    margin: 0.3rem;
    color: black;
    font-family: telefonicaSansLight;
}

.close{
    position: absolute;
    right: 0;
    z-index: 1;
}