.logo{
    width: 3.5rem;
    display: auto;
    float: left;
}

.title{
    font-family: telefonicaSans !important;
    font-size: calc(1em + 1vw);
    color: var(--movistar-blue);
    font-size: 1.8rem;
    margin-left: 1.25rem;
    align-content: center;
    text-align: center;
}

@media (max-width: 570px) {
.title{
    font-size: 0.8em;
}
}


.alingCenter{
    margin: auto;
    vertical-align: middle;
}

.row{
    width: 100%;
}

.header{
    height: 10vh;
    text-align: center;
    font-size: calc(1em + 1vw);
    overflow:hidden; /* Eliminamos errores de float */
    display: flex;
    align-items: center;
}

.image-container{
    height: 35vh;
}

.ImagenFondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

