<div>
  <app-header2></app-header2>
  <section class="etapas-container">
    <img class="etapas" src="../assets/Etapa2.PNG" alt="">
  </section>

  <div class="questions-container">
    <div class="questions-box" *ngFor="let question of questionList"> 
      <div class="question-description">{{question.descripcion}}</div>
      <label class="answers">
        <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_1}}
        <br>
        <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_2}}
        <br>
        <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_3}}
        <br>
        <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_4}}
        <br>
        <input class="answer-text" type="radio" name="answer" value=""> {{question.respuestA_5}}
      </label>
    </div>
    
    <div class="button">
      <button type="button" class="btn btn-primary" routerLink="/etapa1">Anterior</button>
      <button type="button" class="btn btn-primary" routerLink="/etapa3">Siguiente</button>
    </div>
    <div class="espacio"></div>

  </div>
  
  <app-footer></app-footer>
</div>
