/* You can add global styles to this file, and also import other style files */
body {
    max-width: 100%;
    height: auto;
    background: url('../src/assets/fondo_lp008.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    position:relative;
   }